body {
    font-family: Arial, sans-serif;
    background: url('https://images7.alphacoders.com/135/thumb-1920-1351260.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
header {
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header a:hover{
    color: #7AB8BF;
}
header ul {
    padding: 0;
    list-style: none;
    text-align: center;
}
header li {
    display: inline-block;
    padding: 0 20px;
}
.main-content {
    padding: 20px;
    background: #f6f5f5;
    margin-top: 20px;
    width: 100%;
}
.video {
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.btn:hover{
    background-color: #0063cc;
}

.btn2{
    display: inline-block;
    padding: 10px 20px;
    background-color: #00be20;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.btn2:hover{
    background-color: #008a17;
}
.contact {
    margin: 20px 0;
}
.contact a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
.contact a:hover {
 color: #3E848C;
}
footer {
    background: #00000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
@media (max-width: 768px) {
    header ul {
        padding: 0;
    }
    header li {
        display: block;
        padding: 10px 0;
    }
    .video iframe {
        width: 100%;
        height: auto;
    }
}